body {
    background-color: #4d4d4d;
    color: black;
    min-height: 100vh;
    margin-bottom: 50px;
}

footer {
    color: white;
    background-color: #252525;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.jumbotron{
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.jumbotron-warning {
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #ff8686;
}

.project-logo {
    height: 150px;
    width: 150px;
    margin: 10px;
}




section {
    padding: 50px 0;
}

/*	gallery */

.gallery-title {
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.filter-button {
    font-size: 18px;
    border: 2px solid white;
    padding: 5px 10px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    background: transparent;
}

    .filter-button:hover,
    .filter-button:focus,
    .filter-button.active {
        color: #4d4d4d;
        background-color: white;
        outline: none;
    }

.gallery_product {
    margin: 0px;
    padding: 0;
    position: relative;
}

    .gallery_product .img-info {
        position: absolute;
        background: rgba(0,0,0,0.5);
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        overflow: hidden;
        color: #fff;
        top: 0;
        display: none;
        -webkit-transition: 2s;
        transition: 2s;
    }

    .gallery_product:hover .img-info {
        display: block;
        -webkit-transition: 2s;
        transition: 2s;
    }

/*	end gallery */